@font-face {
    font-family: "CasinoFont";
    src: url("assets/Casino.ttf") format("truetype");
}

.holder {
    padding-top: 10px;
    width: 600px;
    height: 600px;
}

.AnounceBox {
    width: 600px;
    height: 100px;
    background-color: #ffb0b0;
}

.TextHolder {
    /* background-color: green; */
    padding: 10px;
}

.aText {
    text-align: center;
    font-size: 80px;
    margin: auto;
    width: 100%;
    color:#d10011;
    font-family: "CasinoFont";
}

.resetButtonDIV {
    padding-top: 100px;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.resetButton {
    width: 300px;
    font-family: "CasinoFont";
    font-size: 30px;
    color: #6500c4;
    background-color: #8465a1;
}

.resetButton:active {
    width: 300px;
    font-family: "CasinoFont";
    font-size: 30px;
    color: #6500c4;
    background-color: #493759;
}